
<div class="ask-subscribe">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Stupid Coaching</h2>
    </div>
<p><%= @question %></p>
<p> -You</p>
<p><strong><%= @answer %></strong></p>
<p>-Your coach</p>
<p><%= link_to "Ask a new question", ask_path %></p>
